@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}

body {
    background-color: #ece5d1;
    padding-top: 70px;
}

/* navbar */
.navbar {
    background-color: #b7c88e;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    color: #000;
}

.dropdown-menu {
    max-height: 200px;
    overflow-y: auto;
}

.container {
    padding: 50px;
    background-color: #fdf8e8;
    border-radius: 10px;
}

.hover-underline {
    cursor: pointer;
    display: inline-block;
    position: relative;
}

.hover-underline::after {
    cursor: pointer;
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: #000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.btn {
    border-radius: 20px;
    background-color: #fed67e;
}

.btn:hover {
    background-color: #b7c88e;
}

.dropdown-menu :hover {
    background: #fff;
    color: #162938;
    background-color: #b7c88e;
}

.heading-twenty {
    height: 48px;
    border-left: 1px solid black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%
}

.heading-twenty h3 {
    font-size: 16px;
    background-color: #fed67e;
    width: 100%;
    max-width: 170px;
    text-align: center;
    padding: 4px 0;
    font-weight: 700;
    color: #ffffff;
    position: relative;
    left: -1px;
    margin-bottom: 0;
    letter-spacing: 1px
}

.card-body h5 {
    font-size: 15px;
}

.promo-sampai p {
    color: #789140;
    font-size: 10px;
}


@media screen and (max-width: 500px) {
    .img-wrapper img {
        width: 120px;
        padding: 100px;
    }

}

@media screen and (min-width: 768px) {
    .container {
        width: 100%;
    }
    
    .img-wrapper img {
        width: 180px;
        padding: 10px;
    }

}

@media screen and (min-width: 1024px) {
    .img-wrapper img {
        width: 240px;
        padding: 10px;
    }

}